* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

canvas {
  display: block;
}

.container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #222222;
  transition: all .05s linear;
}

.ball {
  position: absolute;
  background: red;
  width: 30px;
  height: 30px;
  transition: all .05s linear;
}